@import "tailwindcss";


.container {
  padding: 0px 20px !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.font-monsterrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}