@import "tailwindcss";



html {
  scroll-behavior: smooth;
}


.container {
  padding: 0px 20px !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.font-monsterrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.go-and-down {
  animation-name: go-and-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.in-view {
  animation-name: in-view;
  animation-duration: 2s;
  animation-iteration-count: inherit;
  animation-timeline: view(0%, 100%);
  animation-range: entry 10%;
}

@keyframes in-view {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes go-and-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotate-360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Clip path classes for split border effect */
.clip-left {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.clip-right {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}